PGPASSWORD=admin_password
POSTGRES_DB=chairmansmap_development
MAINTENANCE_MODE= # 2025-11-29 10:00
OPEN_WEATHER_API_KEY=dummy
AGROMONITORING_API_KEY=dummy
REDIS_URL=redis://localhost:6379/0
SIDEKIQ_REDIS_URL=redis://localhost:6379/1
OPEN_TOPOGRAPHY_API_KEY=dummy

# S3 Storage
S3_HOST=http://localhost
S3_PORT=8333
AWS_ACCESS_KEY_ID=admin
AWS_SECRET_ACCESS_KEY=secret
S3_BUCKET=my-bucket
