<div class="rounded-xl p-8 flex flex-col w-full dark:bg-gray-800 dark:border-gray-700">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700 overflow-y-auto h-full">
        <div id="hunter_data" class="flex flex-col h-full">
            <%= render partial: "hunter_row", collection: hunter_locations, as: :hunter %>
        </div>
    </ul>

    <%= link_to "Добавить", new_side_panel_hunter_path, class: "mt-4 text-center inset-x-0 bottom-0 text-white bg-indigo-500 border-0 py-2 px-6 enabled:focus:outline-none enabled:hover:bg-indigo-900 rounded text-lg dark:text-black" %>
</div>
