<li class="p-1 my-1 bg-gray-50 shadow-2xl">
    <div class="flex items-center space-x-4">
        <div class="flex-1 min-w-0">
            <p class="text-base font-medium truncate">
                <%= hunter.description %>
            </p>
            <p class="text-sm text-gray-500 truncate">
                <%= [hunter.dog ? "с собакой" : nil, hunter.license ? "с оружием" : nil].compact.join(", ") %>
            </p>
        </div>
        <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
            <%= hunter.date.strftime("%d.%m.%Y %H:%M") %>
        </div>
    </div>
</li>
