---
http_interactions:
- request:
    method: get
    uri: http://api.agromonitoring.com/agro/1.0/image/search?appid=<AGROMONITORING_API_KEY>&end=1767992400&polyid=687946sdfsdf68e4s65dg4&start=1767560400
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-response-time:
      - 102ms
    body:
      encoding: UTF-8
      string: '[
        {"dt":1767571200,"type":"Sentinel-2","dc":100,"cl":100,"sun":{"elevation":22.96,"azimuth":161.658},"image":{"truecolor":"http://api.agromonitoring.com/image/1.0/100695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","falsecolor":"http://api.agromonitoring.com/image/1.0/110695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","ndvi":"http://api.agromonitoring.com/image/1.0/120695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi":"http://api.agromonitoring.com/image/1.0/130695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi2":"http://api.agromonitoring.com/image/1.0/140695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","nri":"http://api.agromonitoring.com/image/1.0/150695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","dswi":"http://api.agromonitoring.com/image/1.0/160695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","ndwi":"http://api.agromonitoring.com/image/1.0/170695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>"},"tile":{"truecolor":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/100695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","falsecolor":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/110695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","ndvi":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/120695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/130695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi2":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/140695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","nri":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/150695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","dswi":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/160695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","ndwi":"http://api.agromonitoring.com/tile/1.0/{z}/{x}/{y}/170695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>"},"stats":{"ndvi":"http://api.agromonitoring.com/stats/1.0/123695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi":"http://api.agromonitoring.com/stats/1.0/133695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi2":"http://api.agromonitoring.com/stats/1.0/143695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","nri":"http://api.agromonitoring.com/stats/1.0/153695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","dswi":"http://api.agromonitoring.com/stats/1.0/163695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","ndwi":"http://api.agromonitoring.com/stats/1.0/173695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>"},"data":{"truecolor":"http://api.agromonitoring.com/data/1.0/101695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","falsecolor":"http://api.agromonitoring.com/data/1.0/111695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","ndvi":"http://api.agromonitoring.com/data/1.0/122695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi":"http://api.agromonitoring.com/data/1.0/132695aff00/6988b0fe1be1fb0008fa3b65?appid=<AGROMONITORING_API_KEY>","evi2":"http://api.agromo[...]
