<div class="rounded-lg p-8 flex flex-col w-full shadow-2xl h-4/5">
    <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-700">
        <div id="hunter_data" class="flex flex-col h-full">
        </div>
    </ul>
</div>
