---
http_interactions:
- request:
    method: get
    uri: https://api.roscadastres.com/pkk_files/geo2.php?cn=123%3A123%3A456%3A789
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{
        "coordinates":[
          [
            [1000001.100100,2000001.200200],
            [1000002.100100,2000002.200200],
            [1000003.100100,2000003.200200],
            [1000004.100100,2000004.200200],
            [1000001.100100,2000001.200200]
          ]
        ],
        "crs":{"properties":{"name":"EPSG:3857"},"type":"name"},
        "type":"Polygon"
      }'
  recorded_at: Sat, 31 Jan 2026 12:27:17 GMT
recorded_with: VCR 6.4.0
