<div id="show_data_form" class="flex flex-col h-full">
    <div class="flex-auto">

        <div class="my-10">
            <div class="mb-3 text-xl">Владелец участка</div>
            <div>Тип владения: <span id="owner_type"></span></div>
            <div>ФИО: <span id="owner_fio"></span></div>
            <div>Тел: <span id="owner_tel"></span></div>
            <div>Адрес: <span id="owner_adr"></span></div>
        </div>

        <div>
            <div class="mt-5 mb-3 text-xl">Данные участка</div>
            <div>Кадастровый № <span id="plot_number_kadastr"></span></div>
            <div>Площадь: <span id="plot_area"></span></div>
            <div>Периметр: <span id="plot_perimetr"></span></div>
            <div>Статус продажи: <span id="plot_sale_status"></span></div>
            <div>
                <div>Дополнительная информация:</div>
                <span id="plot_description" class="ml-3"></span>
            </div>
        </div>
        
    </div>

    <button id="open_form_button" href="" disabled class="inset-x-0 bottom-0 text-white bg-indigo-500 border-0 py-2 px-6 enabled:focus:outline-none enabled:hover:bg-indigo-900 rounded text-lg">Обновить данные участка</button>
</div>
