<div id="show_data_form" class="flex flex-col h-full">
    <div class="flex-auto space-y-4">

        <div>
            <h3 class="text-lg font-semibold text-gray-900 mb-4">Владелец участка</h3>
            <div class="space-y-1 text-gray-700 dark:text-black">
                <div><span class="font-medium dark:text-inherit">Тип владения:</span> <span id="owner_type" class="text-indigo-600 dark:text-black"></span></div>
                <div><span class="font-medium dark:text-inherit">ФИО:</span> <span id="owner_fio" class="text-indigo-600 dark:text-black"></span></div>
                <div><span class="font-medium dark:text-inherit">Тел:</span> <span id="owner_tel" class="text-indigo-600 dark:text-black"></span></div>
                <div><span class="font-medium dark:text-inherit">Адрес:</span> <span id="owner_adr" class="text-indigo-600 dark:text-black"></span></div>
            </div>
        </div>

        <div>
            <h3 class="text-lg font-semibold text-gray-900 mb-4">Данные участка</h3>
            <div class="space-y-1 text-gray-700 dark:text-black">
                <div><span class="font-medium dark:text-inherit">Кадастровый №:</span> <span id="plot_number_cadastral" class="text-indigo-600 dark:text-black"></span></div>
                <div><span class="font-medium dark:text-inherit">Площадь:</span> <span id="plot_area" class="text-indigo-600 dark:text-black"></span></div>
                <div><span class="font-medium dark:text-inherit">Периметр:</span> <span id="plot_perimeter" class="text-indigo-600 dark:text-black"></span></div>
                <div><span class="font-medium dark:text-inherit">Статус продажи:</span> <span id="plot_sale_status" class="text-indigo-600 dark:text-black"></span></div>
                <div>
                    <div class="font-medium mb-2 dark:text-black">Дополнительная информация:</div>
                    <div id="plot_description" class="text-gray-600 bg-gray-50 p-3 rounded-lg dark:bg-zinc-200"></div>
                </div>
            </div>
        </div>

    </div>

    <button id="open_form_button" href="" disabled class="mt-6 px-6 py-3 bg-indigo-500 text-white rounded-lg hover:bg-indigo-600 transition duration-200 font-medium disabled:bg-gray-400 disabled:text-gray-200 disabled:cursor-not-allowed">Обновить данные участка</button>
</div>
