<div class="card p-4 w-full mb-4">
    <div class="grid grid-cols-2 gap-4">
        <div>
            <%= label_tag :sale_status, "Статус продажи", class: "block text-sm font-medium text-gray-700 mb-2 dark:text-zinc-200" %>
            <%= select_tag :sale_status, options_for_select(PlotSearch.sale_statuses), data: {main_map_target: "saleStatus"}, class: "text-input w-full px-3 py-2 text-sm" %>
        </div>

        <div>
            <%= label_tag :owner_type, "Тип владения", class: "block text-sm font-medium text-gray-700 mb-2 dark:text-zinc-200" %>
            <%= select_tag :owner_type, options_for_select(PlotSearch.owner_types), data: {main_map_target: "ownerType"}, class: "text-input w-full px-3 py-2 text-sm" %>
        </div>

        <div data-action="click->main-map#filterPlots" class="px-4 py-2 bg-green-primary text-white rounded-lg hover:bg-indigo-600 transition duration-200 text-sm font-medium cursor-pointer dark:text-black">Фильтровать</div>
        <div data-action="click->main-map#resetFilter" class="px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition duration-200 text-sm font-medium cursor-pointer dark:text-black">Сбросить</div>
    </div>
</div>
