<div class="card p-4 w-full mb-4">
    <div class="grid grid-cols-2 gap-4">
        <div>
            <%= label_tag :sale_status, "Статус продажи", class: "block text-sm font-medium text-default-color mb-2" %>
            <%= select_tag :sale_status, options_for_select(PlotSearch.sale_statuses), data: {main_map_target: "saleStatus"}, class: "text-input w-full px-3 py-2 text-sm" %>
        </div>

        <div>
            <%= label_tag :owner_type, "Тип владения", class: "block text-sm font-medium text-default-color mb-2" %>
            <%= select_tag :owner_type, options_for_select(PlotSearch.owner_types), data: {main_map_target: "ownerType"}, class: "text-input w-full px-3 py-2 text-sm" %>
        </div>

        <div data-action="click->main-map#filterPlots" class="px-4 py-2 btn-primary rounded-lg transition duration-200 text-sm font-medium cursor-pointer">Фильтровать</div>
        <div data-action="click->main-map#resetFilter" class="px-4 py-2 btn-primary rounded-lg transition duration-200 text-sm font-medium cursor-pointer">Сбросить</div>
    </div>
</div>
