<%= turbo_frame_tag "side_panel" do %>
    <%= render partial: "side_panel/plots/filters" %>

    <div class="card p-8 flex flex-col h-4/5">
        <%= turbo_frame_tag "side_panel_plot_data" do %>
            <span class="text-default-color">Выберите участок для просмотра</span>
        <% end %>
    </div>
<% end %>
