<div class="flex h-4/5">
    <!-- Левая часть - карта -->
    <div class="w-3/5 m-6">
        <div class="w-full h-full rounded-xl"
             data-controller="village"
             data-village-target="map"
             data-village-id-value="<%= village.id %>">
        </div>
    </div>

    <!-- Правая часть - информация -->
    <div class="w-2/5 overflow-y-auto bg-white dark:bg-gray-900">
        <div class="p-6 space-y-6">
            <!-- Основная информация -->
            <section class="bg-white rounded-lg border border-gray-200 p-6 dark:bg-gray-800 dark:border-gray-700">
                <h2 class="text-xl font-semibold text-gray-900 mb-4 dark:text-white">Основная информация</h2>
                <div class="space-y-3">
                    <div class="flex justify-between">
                        <span class="text-gray-600 dark:text-white">Название</span>
                        <span class="font-medium dark:text-white"><%= village.name %></span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-gray-600 dark:text-white">Площадь:</span>
                        <span class="font-medium dark:text-white"><%= village.geom.area.round(2) %> м</span>
                    </div>
                    <div class="flex justify-between">
                        <span class="text-gray-600 dark:text-white">Кадастровый номер:</span>
                        <span class="font-medium dark:text-white"><%= village.cadastral_number %></span>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
