/* Контейнер Tom Select с горизонтальным скроллом */
.ts-wrapper.multi .ts-control {
  max-height: 3rem;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
  background-color: #00000020;
  border-color: #ffffff50;
  backdrop-filter: blur(10px);
  border-radius: 0.5rem;
}

.ts-wrapper.multi .ts-control > div {
  flex-shrink: 0;
}

.ts-control > input::placeholder {
  color: white;
}

.ts-wrapper > .ts-dropdown {
  z-index: 1000;
  background-color: #00000020;
}

/* Стилизованный скроллбар с курсором-указателем */
.ts-wrapper.multi .ts-control::-webkit-scrollbar {
  height: 4px;
  cursor: pointer;
}

.ts-wrapper.multi .ts-control::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ts-wrapper.multi .ts-control::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
  cursor: pointer;
}

.ts-wrapper.multi .ts-control::-webkit-scrollbar-thumb:hover {
  background: #555;
}
